@using OMG.WebApp.Client.Layout
@using OMG.WebApp.Client.Components
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(OMG.WebApp.Client._Imports).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">Você não tem permissão para acessar este recurso.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex justify-center align-center" style="height: 100vh;">
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Não encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudText Typo="Typo.h4" Class="mt-4">Página não encontrada</MudText>
                <MudText Class="mb-4">Desculpe, não há nada neste endereço.</MudText>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
